footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: $spacing-medium; 
    padding-bottom: $spacing-small; 

    background-color: mat.get-theme-color($theme, 'primary', 100);
    color: mat.get-theme-color($theme, 'primary', 0);
    text-align: center;

    .copyright {
        margin-left: $spacing-small;
    }
}
