header {
    background: var(--mat-toolbar-container-background-color, var(--mat-app-surface));

    position: sticky;
    top: 0;
    z-index: 5;

    .headline,
    h1.headline {
        font-weight: 700;
    }

    app-auth-button { 
        margin-left: 4px;
    }
}
