<mat-form-field appearance="outline">
    <mat-label>{{label}}</mat-label>
    <mat-chip-grid #chipGrid [required]="required">
        @for (it of items.controls; track $index; let i = $index) {
          <mat-chip-row
            (removed)="removeItem(i)"
            [editable]="true"
            (edited)="editItem(i, $event)"
            [aria-description]="'Press enter to edit ' + it.value"
          >
            {{it.value}}
            <button matChipRemove [attr.aria-label]="'Remove ' + it.value">
              <mat-icon>cancel</mat-icon>
            </button>
          </mat-chip-row>
        }
        <!-- TODO: Add hinting -->
        <input
          [placeholder]="placeholder"
          [matChipInputFor]="chipGrid"
          [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
          [matChipInputAddOnBlur]="addOnBlur"
          (matChipInputTokenEnd)="addItem($event)"
        />
      </mat-chip-grid>
</mat-form-field>
