<mat-form-field appearance="outline">
    <mat-label>{{label}}</mat-label>
    <mat-chip-list #chipList>
        @for (it in items.controls; track $index; let i = index) {
        <mat-chip [selectable]="true" [removable]="true" (removed)="items.removeAt(i)">
            {{ it.value }}
            <mat-icon matChipRemove>cancel</mat-icon>
        </mat-chip>
        }
        <input [matChipInputFor]="reactiveChipGrid" (matChipInputTokenEnd)="addClass($event)">
    </mat-chip-list>
</mat-form-field>
