.landing-header {
    background-color: mat.get-theme-color($theme, 'tertiary', 70);
    color: white;
    text-align: center;
    padding: 100px 20px;

    h2 {
        font-size: 3rem;
        margin-bottom: 1rem;
    }

    p {
        font-size: 1.2rem;
        margin-bottom: 2rem;
        text-wrap: wrap;
    }

    .mdc-button:not(:first-child) {
        margin-left: 0.5rem;
    }
}

.features {
    padding: 50px 40px;
    background-color: mat.get-theme-color($theme, 'primary', 100);

    h2 {
        text-align: center;
        margin-bottom: 2rem;
        font-size: $text-heading;
    }

    .feature-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        gap: 20px;
    }

    mat-card {
        height: 100%;
        background-color: mat.get-theme-color($theme, 'primary', 30);
        color: mat.get-theme-color($theme, 'primary', 100);
    }
}

.cta {
    background-color: mat.get-theme-color($theme, 'tertiary', 70);
    color: white;
    text-align: center;
    padding: 100px 20px;

    h2 {
        font-size: 3rem;
        margin-bottom: 1rem;
    }

    p {
        font-size: 1.2rem;
        margin-bottom: 2rem;
        text-wrap: wrap;
    }

    .mdc-button:not(:first-child) {
        margin-left: 0.5rem;
    }
}