.not-found-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    padding: 1rem;

    .not-found-icon {
        font-size: 5rem;
        margin-bottom: 1rem;
        @include size(5rem, 5rem);
    }

    h1 {
        font-size: 2rem;
        margin: 1rem 0;
    }

    p {
        font-size: 1rem;
        margin-bottom: 1.8rem;
    }

    button {
        font-size: 1rem;
        padding: 0.7rem 1rem;
    }

    .actions {
        @extend %flex-row;
        justify-content: center;
        gap: 1rem;
        margin-top: 0.5rem;
    }
}
