body {
    font-family: $font-base;
    font-size: $text-base;
    line-height: $line-height-base;
    color: $color-text;
    background-color: $color-background;
    -webkit-font-smoothing: antialiased;
}

html, body {
    height: 100vh;
}
