*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

body {
    font-family: $font-base;
    font-size: $text-base;
    line-height: $line-height-base;
    -webkit-font-smoothing: antialiased;
}

main {
    padding: 2rem;
    min-height: 100vh;
}
