.hero-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 100%;

    @include respond-to('lg') {
        max-width: 50%;
        margin: 0 auto;
    }

    button[type='submit'] {
        margin: 1.5rem auto 0;
    }

    >app-outlined-field,
    >app-outlined-select,
    >app-outlined-multiline-field,
    >app-outlined-chiplist {
        width: 100%;
        margin-bottom: 1rem;
    }
    mat-form-field,
    mat-select {
        width: 100%;
    }

    mat-expansion-panel {
        margin-bottom: 2rem;
    }

    .mat-expansion-panel-body {
        display: flex;
        justify-content: space-evenly;
        gap: 1rem;
        flex-wrap: wrap;
    }
}
